<form #registerForm="ngForm" (ngSubmit)="changePassword()" autocomplete="off">

    <h2 class="text-center text-primary">Change Password</h2>
    <hr>
    <div class="mb-3">
        <input type="text" class="form-control" name="username" [(ngModel)]="model.username" placeholder="Username">

    </div>
    <div class="mb-3">
        <input type="text" class="form-control" name="password" [(ngModel)]="model.oldpassword" placeholder="Old Password">
    </div>

    <div class="mb-3">
        <input type="text" class="form-control" name="password" [(ngModel)]="model.newpassword" placeholder="New Password">
    </div>
    <div class="text-center">
        <button class="btn-success me-2" type="submit">Change!</button>
        <button class="btn-success me-2" type="button" (click)="cancel()">Cancel</button>
    </div>

</form>